<h1>
    <app-navbar></app-navbar>
    <section id="contents">
        <div class="page-head h-600 center-it parallax-layer dark ov-grad1-alpha-30" data-img-src="assets/img/bg/16.jpg"
             data-parallax-mode="mode-title">
            <div class="container">
                <div class="tb-vcenter-wrapper">
                    <div class="title-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
                        <h4 class="head">Awesome</h4>
                        <h1 class="title">Researchers and Staff</h1>
                        <h2 class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text
                            of the printing and typesetting industry. Lorem Ipsum has been the standard
                            dummy text.</h2>
                    </div>
                    <div class="breadcrumb-wrapper vcenter parallax-layer" data-parallax-mode="mode-header-content">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="oli oli-home"></i></a></li>
                            <li><a href="#">publication</a></li>
                            <li><a href="#">publication type</a></li>
                            <li>learning environment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </section>
</h1>
