<section class="page-contents">
  <section id="main-area">
    <section class="section slim-container">
      <div class="container">
        <div class="row multi-columns-row col-margin-bottom-40">
          <div class="col-xs-6 col-md-4" *ngFor="let member of members">
            <div class="vc-card boxed">
              <a href="#"><img src="assets/img/people/01.jpg" alt="people"></a>
              <div class="vc-card-wrapper"><a [routerLink]="['/member',member._id]" routerLinkActive="active" class="title">{{ member.firstName + ' ' + member.lastName }}</a>
                <div class="subtitle">{{ member.grade }}</div>
              </div>
              <div class="links">
                <a [href]="member.socials.google" data-toggle="tooltip" data-original-title="Google+"><i class="oli oli-googleplus"></i></a>
                <a [href]="member.socials.linkedin" data-toggle="tooltip" data-original-title="Linedin"><i class="oli oli-linkedin"></i></a>
                <a [href]="member.socials.facebook" data-toggle="tooltip" data-original-title="Facebook"><i class="oli oli-facebook"></i></a>
                <a [href]="member.socials.twitter" data-toggle="tooltip" data-original-title="Twitter"><i class="oli oli-twitter"></i></a></div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="vc-card boxed">
              <a href="#"><img src="assets/img/people/02.jpg" alt="people"></a>
              <div class="vc-card-wrapper"><a [routerLink]="['/member','123' ]" routerLinkActive="active" class="title">Dr. Celestine Wilfred</a>
                <div class="subtitle">Founder & CEO</div>
              </div>
              <div class="links">
                <a href="#" data-toggle="tooltip" data-original-title="Google+"><i class="oli oli-googleplus"></i></a><a href="#" data-toggle="tooltip"
                                                                                                                         data-original-title="Linedin"><i class="oli oli-linkedin"></i></a>
                <a
                        href="#" data-toggle="tooltip" data-original-title="Facebook"><i class="oli oli-facebook"></i></a><a href="#" data-toggle="tooltip"
                                                                                                                             data-original-title="Twitter"><i class="oli oli-twitter"></i></a></div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="vc-card boxed">
              <a href="#"><img src="assets/img/people/03.jpg" alt="people"></a>
              <div class="vc-card-wrapper"><a href="#" class="title">Dr.Prof. Woody Terence</a>
                <div class="subtitle">Associate Marketing Dean</div>
              </div>
              <div class="links">
                <a href="#" data-toggle="tooltip" data-original-title="homepage"><i class="fa fa-external-link"></i></a><a href="#" data-toggle="tooltip"
                                                                                                                           data-original-title="Biography"><i class="oli oli-user_male_circle"></i></a>
                <a
                        href="#" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip"
                                                                                                                           data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
            </div>
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="vc-card boxed">
              <a href="#"><img src="assets/img/people/04.jpg" alt="people"></a>
              <div class="vc-card-wrapper"><a href="#" class="title">John Mcckay</a>
                <div class="subtitle">Senior Partner</div>
              </div>
              <div class="links">
                <a href="#" data-toggle="tooltip" data-original-title="homepage"><i class="fa fa-external-link"></i></a><a href="#" data-toggle="tooltip"
                                                                                                                           data-original-title="Biography"><i class="oli oli-user_male_circle"></i></a>
                <a
                        href="#" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip"
                                                                                                                           data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section alt="background" class="section parallax-layer dark-wrapper ov-dark-alpha-60">
      <div class="container">
        <div class="row call-out tb-vcenter-wrapper">
          <div class="col-sm-8 vcenter">
            <h2 class="title">Apply for Being a TA and Join us at Stanford</h2>
            <h4 class="sub-title">Absolutely Stunning Design &amp; Functionality Common Things Expected</h4>
          </div>
          <div class="col-sm-4 vcenter text-center">
            <a href="#" class="btn btn-medium btn-circle btn-skin-blue btn-icon-right btn-anim-i"><i class="oli oli-forward"></i><span>read more</span></a>
          </div>
        </div>
      </div>
    </section>
  </section>
  <div class="clearfix"></div>
</section>