<section class="page-contents">
  <section id="main-area">
    <section class="section full-width section-nopadding">
      <div class="container">
        <div class="row gradient-cols-wrapper sync-cols-height light-grad">
          <div class="col-md-4">
            <div class="inner-wrapper">
              <div class="icon-box ib-v3 m-bottom-30"><i class="oli oli-greentech"></i>
                <h3 class="title"><span>In-Depth Video Tutorials</span></h3>
                <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin
                  ut. Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin
                  ut.</p>
              </div><a href="#" class="btn btn-small btn-round btn-anim-drawer">read more</a></div>
          </div>
          <div class="col-md-4">
            <div class="inner-wrapper">
              <div class="icon-box ib-v3 m-bottom-30"><i class="oli oli-desk_lamp"></i>
                <h3 class="title"><span>Awesome title</span></h3>
                <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin
                  ut. Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin
                  ut.</p>
              </div><a href="#" class="btn btn-small btn-round btn-anim-drawer">read more</a></div>
          </div>
          <div class="col-md-4">
            <div class="inner-wrapper">
              <div class="icon-box ib-v3 m-bottom-30"><i class="oli oli-rocket"></i>
                <h3 class="title"><span>Awesome title</span></h3>
                <p>Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin
                  ut. Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin
                  ut.</p>
              </div><a href="#" class="btn btn-small btn-round btn-anim-drawer">read more</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="heading-with-sub text-center m-bottom-80">
          <h3 class="title">Selected Publications</h3>
          <h4 class="subtitle">Phasellus lectus sem, egestas eget sollicitudin ut, lobortis ac nulla. Phasellus lectus sem, egestas eget sollicitudin
            ut.</h4>
        </div>
        <div class="row multi-columns-row col-margin-bottom-30">
          <div class="col-md-6">
            <div class="pub-item with-icon">
              <div class="elem-wrapper"><i class="oli oli-bookmark"></i></div>
              <div class="content-wrapper">
                <h3 class="title">Comparison of Methods for Counting Hoofed Animal Density in Sikhote-Alin in a good manner</h3>
                <div class="description">
                  <div class="citation">Achievements in the Life Sciences 2014<br>McTabi et. al.</div><a href="#" class="link-with-icon"><i class="fa fa-external-link"></i>Publisher's website</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pub-item with-icon">
              <div class="elem-wrapper"><i class="oli oli-bookmark"></i></div>
              <div class="content-wrapper">
                <h3 class="title">Comparison of Methods for Counting Hoofed Animal Density in Sikhote-Alin in a good manner</h3>
                <div class="description">
                  <div class="citation">Achievements in the Life Sciences 2014<br>McTabi et. al.</div><a href="#" class="link-with-icon"><i class="fa fa-external-link"></i>Publisher's website</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pub-item with-icon">
              <div class="elem-wrapper"><i class="oli oli-bookmark"></i></div>
              <div class="content-wrapper">
                <h3 class="title">Comparison of Methods for Counting Hoofed Animal Density in Sikhote-Alin in a good manner</h3>
                <div class="description">
                  <div class="citation">Achievements in the Life Sciences 2014<br>McTabi et. al.</div><a href="#" class="link-with-icon"><i class="fa fa-external-link"></i>Publisher's website</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pub-item with-icon">
              <div class="elem-wrapper"><i class="oli oli-bookmark"></i></div>
              <div class="content-wrapper">
                <h3 class="title">Comparison of Methods for Counting Hoofed Animal Density in Sikhote-Alin in a good manner</h3>
                <div class="description">
                  <div class="citation">Achievements in the Life Sciences 2014<br>McTabi et. al.</div><a href="#" class="link-with-icon"><i class="fa fa-external-link"></i>Publisher's website</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div data-cols="6" data-loop="true" data-autoplaytime="4000" class="owl-carousel items ol-theme ol-lightbox-gallery">
        <a href="assets/img/gallery/thumbs/01.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/01.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/15.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/15.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/02.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/02.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/04.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/04.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/05.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/05.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/06.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/06.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/07.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/07.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/08.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/08.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/09.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/09.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/10.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/10.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/11.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/11.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/12.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/12.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/13.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/13.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
        <a href="assets/img/gallery/thumbs/14.jpg" class="ol-hover hover-1 ol-lightbox"><img src="assets/img/gallery/thumbs/14.jpg">
          <div class="ol-overlay ov-grad3-alpha-50">
            <div class="icons"><i class="oli oli-search"></i></div>
          </div>
        </a>
      </div>
    </section>
    <section class="section bg-pattern-3">
      <div class="container">
        <div class="heading-with-sub text-center">
          <h2 class="title">Recent News</h2>
          <h4 class="subtitle">We publish news about latest changes, announcements and recent projects</h4>
        </div>
        <div class="sp-blank-30"></div>
        <div data-margin="30" data-nav="true" data-loop="true" class="owl-carousel items owwwlab-theme nav-top-center">
          <a href="news-single.html" class="book-el skin-blue">
            <div class="contents">
              <div class="item-meta"><span class="date">12 Oct 2015</span></div>
              <div class="title-wrapper">
                <h2 class="title">Adolescent health transition</h2>
              </div>
            </div>
          </a>
          <a href="news-single.html" class="book-el skin-theme">
            <div class="contents">
              <div class="item-meta"><span class="date">12 Oct 2015</span></div>
              <div class="title-wrapper">
                <h2 class="title">Silver City</h2>
              </div>
            </div>
          </a>
          <a href="news-single.html" class="book-el skin-yellow">
            <div class="contents">
              <div class="item-meta"><span class="date">12 Oct 2015</span></div>
              <div class="title-wrapper">
                <h2 class="title">The Wounded Change</h2>
              </div>
            </div>
          </a>
          <a href="news-single.html" class="book-el skin-green">
            <div class="contents">
              <div class="item-meta"><span class="date">12 Oct 2015</span></div>
              <div class="title-wrapper">
                <h2 class="title">The Wheel's Atlas</h2>
              </div>
            </div>
          </a>
          <a href="news-single.html" class="book-el skin-purple">
            <div class="contents">
              <div class="item-meta"><span class="date">12 Oct 2015</span></div>
              <div class="title-wrapper">
                <h2 class="title">The Ice of the Fortress</h2>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </section>
  <div class="clearfix"></div>
</section>